* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  border: none;
  font-family: Helvetica, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #fafafa;
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
}

.container {
  display: flex;
  justify-content: center;
  margin: 24px 0 0;
}

.notes-wrapper {
  position: relative;
  display: flex;
  max-width: 768px;
  height: 520px;
  width: 100%;
  margin: 12px;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, .12);
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 220px;
  flex-shrink: 0;
  background-color: #252525;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  padding: 12px 8px 24px;
}

.dots {
  position: relative;
  margin: 0 20px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ffbc2b;
}

.dots::before,
.dots::after {
  content: '';
  position: absolute;
  top: 0;
  left: -20px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ff5e5a;
}

.dots::after {
  right: -20px;
  left: auto;
  background-color: #27ca3d;
}

.create-note-btn {
  width: 24px;
  height: 24px;
  border-radius: 2px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z' fill='green'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 24px 24px;
}

.sidebar-notes-wrap {
  overflow-y: scroll;
}

.notes-list li {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
}

.notes-list li span {
  padding-right: 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #ececec;
}

.notes-list li button {
  visibility: hidden;
  margin-left: auto;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, .4);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M19 4h-3.5l-1-1h-5l-1 1H5v2h14zM6 7v12c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6zm8 7v4h-4v-4H8l4-4 4 4h-2z' fill='%23fff'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 14px 14px;
}

.notes-list li:hover {
  background-color: #393939;
}

.notes-list li.is-active {
  background-color: #fdd657;
}

.notes-list li:hover button,
.notes-list li.is-active:hover button {
  visibility: visible;
}

.notes-list li.is-active button {
  background-color: #edcc5c;
}

.notes-list li.is-active span {
  color: #403418;
}

.deleted-counter {
  position: relative;
  width: 100%;
  margin: 12px 0;
}

.deleted-counter span {
  position: relative;
  padding: 0 8px;
  background-color: #252525;
  line-height: 1;
  color: #515151;
}

.deleted-counter::before {
  content: '';
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  border-bottom: 1px solid #393939;
}

.search-input {
  display: block;
  width: calc(100% - 16px);
  margin: auto 8px 8px;
  padding: 4px;
  border-radius: 4px;
  background-color: #343233;
  text-align: center;
  color: #ececec;
  outline: none;
}

.notes-editor {
  padding: 24px;
  width: 100%;
  overflow: hidden;
}

.notes-editor-title {
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 1.4;
  font-weight: bold;
  outline: none;
}

.notes-editor-title * {
  font-size: 16px;
  line-height: 1.4;
  font-weight: bold;
}

.notes-editor-text {
  width: 100%;
  height: 100%;
  line-height: 1.4;
  outline: none;
}
